<header>
	<h1>yoga asanas</h1>
</header>

<h2 class="container">list of asanas</h2>
<ul class="container">
	<% @asanas.each do |asana| %>
		<li><a href="/asanas/<%= asana.id %>"><%= asana.name %></a></li>
	<% end %>
</ul>
<footer>
	<a class="btn" href="/asanas/new">ADD ASANA</a>
</footer>