<head>
	<style type="text/css">
		body {
			background: url("/images/_PBS4130.jpg") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			font-family: 'Raleway', sans-serif;
		}
		h1 {
			color: #FF375F;
			font-size: 100px;
			font-weight: 500;
			letter-spacing: 5px;
			margin-top: 250px;
			text-align: center;
		}
		a {
			color: #FF375F;
			text-decoration: none;
		}
		a:hover {
			color: #FF375F;
			text-decoration: none;
		}
	</style>
</head>
<h1><a href="/asanas">yoga asanas</a></h1>