<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
	<title>Yoga Asanas App</title>
</head>
<body>
	<div class="container">
		<h1>Yoga Asanas App</h1>
		<%=yield%>
	</div>
</body>
</html>