<h3>Create New Asana</h3>
<form class="asana" id="add-asana" action="/asanas" method="post">
	<div>
		<label for="asana[name]">Name:</label><br>
		<input type="text" name="asana[name]">
	</div>
	<div>
		<label for="asana[translation">Translation:</label><br>
		<input type="text" name="asana[translation]">
	</div>
	<div>
		<label for="asana[image]">Image URL:</label><br>
		<input type="text" name="asana[image]">
	</div>
	<div>
		<label for="asana[details]">Details:</label><br>
		<input type="text" name="asana[details]">
	</div>
	<div>
		<label for="asana[similar_poses">Similar Poses:</label><br>
		<input type="text" name="asana[similar_poses]">
	</div>
	<div>
		<input class="btn" type="submit" value="ADD ASANA">
	</div>
</form>