body {
	color: #545454;
	font-family: 'Raleway', sans-serif;
}

header {
	background: url("/images/_PBS4130.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 125px;
	line-height: 100px;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

header h1 {
	background-color: rgba(255,255,255,.5);
	color: #FF375F;
	font-size: 75px;
	margin-top: 0;
	padding-bottom: 20px;
	text-align: center;
}

header h1 a {
	color: #FF375F;
	text-decoration: none;
}

header h1 a:active {
	color: #FF375F;
	text-decoration: none;
}

header h1 a:hover {
	color: #FF375F;
	text-decoration: none;
}

.container {
	margin-bottom: 75px;
}

li {
	font-size: 15px;
}

a {
	color: #545454;
	text-decoration: none;
}

a:active {
	color: #545454;
	text-decoration: none;
}

a:hover {
	color: #545454;
	text-decoration: none;
}

img {
	height: 300px;
}

footer {
	background-color: #C2BFB6;
	bottom: 0;
	height: 75px;
	padding: 20px;
	position: fixed;
	text-align: center;
	width: 100%;
}

.btn {
	background-color: #C2BFB6;
}

.show-btn {
	display: inline-block;
}